{%extends 'blog/base.html'%}
{%load staticfiles%}
{%load blog_tags%}
{%block title%}

<header class="intro-header" style="background-image: url({%static 'blog/img/about-bg-walle.jpg'%})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>XLH Blog</h1>
                    <span class="subheading">识乾坤之大，怜草木之青</span>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}
{%block body%}
<div class="container">
    <div class="row">
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
{%for post in Post%}                
<div class="post-preview">
    <a href="{%url 'blog:detail' post.id%}">
        
        <h2 class="post-title">
            {{post.title}}
        </h2>
        
        <h3 class="post-subtitle">
            {{post.excerpt}}
        </h3>
        
        <div class="post-content-preview">
            {{post.body|slice:":2"}}
        </div>
    </a>
    <p class="post-meta">
        Posted by {{post.author}} on {{post.create_time}}
    </p>
</div>
<hr>
{%endfor%}

{% if is_paginated%}
<ul class="pager">
    {%if page_obj.has_previous%}
    <li class="previous">
        <a href="?page={{page_obj.previous_page_number}}">← Newer Posts</a>
    </li>
    {%endif%}
    {%if page_obj.has_next%}
    <li class="next">
        <a href="?page={{page_obj.next_page_number}}">Older Posts →</a>
    </li>
    {%endif%}
    
</ul>
{%endif%}

</div>
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <!-- Featured Tags -->
                
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5>TAGS</a></h5>

                    <div class="tags">
                    {%get_tags as tags_list%}
                    {%for tag in tags_list%}
                        
                            
                                <a href="{% url 'blog:tag_post' tag.id%}" title="" rel="5">
                                    {{tag.name}}
                                </a>
                            
                    {%endfor%}
                        
                    </div>
                    
                </section>
            </div>
        
    </div>
</div>
{%endblock%}